@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   font-family: 'Karla', sans-serif;
   height: 100vh;
   position: relative;
   background-color: var(--Light-Gray);
   transition: all 0.2s ease-in;
}
:root {
    /* ---color---- */

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);

--base-font: 16px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
.attribution a {
    color: hsl(228, 45%, 44%);
}
h1 {
    font-size: 1.3rem; 
    margin: 15px 0;
}
p {
    line-height: 1.5rem;
    margin: 10px 0;
}

/* -------Mobile First-------- */

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 350px;
    width: fit-content;
    margin: 20px auto;
    border-radius: 5px;
    background-color: #ffff;
    box-shadow: 5px 5px 20px gray;
    grid-template-areas: 
    "one"
    "two"
    "three";
}
.box {
    padding: 10px 20px;
    height: 250px;
}
.one {
    grid-area: one;
}
.one h1{
    color: var(--Cyan);
}
.one h2 {
    color: var(--Bright-Yellow);
    font-size: 1rem;
    margin-bottom: 15px;
}
.one p {
    color:var(--Grayish-Blue);
}

.two {
    background-color: var(--Cyan);
    color: var(--Light-Gray);
    grid-area: two;
}
.price {
    display: inline-flex;
    align-items: center;
    margin: 10px 0;
}
.price h3 {
    margin-left: 10px;
    font-size: 1rem;
    color: var(--Light-Gray);
    font-weight: 400;
}
.two button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--Bright-Yellow);
    margin: px auto;
    color: #ffff;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 2px 2px 10px gray;
}
.two button:hover {
    background-color: #ffff;
    color: black;
    transition: all 0.2s ease-in;
}
.three {
    background-color:cyan;
    color: #ffff;
    border-radius: 0 0 5px 5px;
    grid-area: three;
}
.three p {
    max-inline-size: 230px;
}

 @media (min-width:1000px) {

    .container {
        grid-template-areas: 
        "one one"
        "two three";
    }
    .box {
        padding: 30px;
    }

    .two, .three {
      width: 350px;
      height: 280px;
    }
    .one {
        max-inline-size: 600px;
        height: 200px;
    }
 }
 